{
    "branches": "main",
    "plugins": [
        # 发布类型分析器，要遵循的提交规范，默认是angular规范
        # 所有规范 https://github.com/semantic-release/commit-analyzer#options
        "@semantic-release/commit-analyzer",
        # 发布说明内容生成器，可以配置具体内容
        "@semantic-release/release-notes-generator",
        # 生成changelog文件
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "更新日志"
            }
        ],
        # 自动修改版本号
        "@semantic-release/npm",
        [
            # 自动提交并设置[skip ci]不会再次触发ci，以免造成循环
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "CHANGELOG.md"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ],
    ],
    "publish": [
        # 发布npm包
        "@semantic-release/npm",
        # 自动打tag并发布github版本
        "@semantic-release/github",
        {
            # 自动把打包后的产物推送到gh-pages分支
            "path": "@qiwi/semantic-release-gh-pages-plugin",
            # 要推送的目录
            "src": "demo/h5",
            # 目标分支
            "branch": "gh-pages",
            # 目标目录
            "dst": ".",
            # 提交信息
            "msg": "更新h5的demo"
        }
    ]
}
